.ContactUsLable {
  font-size: 13px;
  font-weight: bold;
  text-align: start !important;
  margin-right: 10px !important;
}
.ContactUsInput {
  display: inline;
  background-color: rgb(214, 214, 214) !important;
  border-radius: 4px !important;
  &::placeholder {
    color: rgb(63, 63, 63) !important;
    opacity: 50% !important;
  }
}
.form-Text {
  display: inline;
  direction: rtl;
  width: 100% !important;
  margin: auto !important;
  background-color: rgb(214, 214, 214) !important;
  border-radius: 4px !important;
  border: none;
  padding: 10px;
  &::placeholder {
    color: rgb(63, 63, 63) !important;
    opacity: 50% !important;
  }
}
.FormSpan{
    width: 5px;
    height: 550px;
    background-color: #3D8DA8;
    display: block;
    margin: 0 0 0 20px;
}